.modal-content {
    top: 140px;
    position: relative;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 5px 98px #001a3869;
}
/* .modal {
    display: block !important;
    opacity: 1 !important;
} */
.modal-header {
    display: flex;
    align-items: center;
    border-bottom: 0;
    flex-direction: column;
}
.modal-header span.tag {
    display: block;
    text-align: center;
    color: #4C83C4;
    margin: 8px 0;
}
.modal-backdrop {
    background-color: #002c55;
  }
/* .modal-backdrop {
    display: none;
  } */

button.close {
    margin-left: auto;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 50px;
    position: absolute;
    right: 20px;
    top: 0;
    color: #4C83C4;
}
a {
    cursor: pointer;
}

.modal form label {
    font-weight: 400;
}
.modal .form-control {
    min-height: 50px;
    margin: 8px 0;
}
.modal input,
.modal textarea {
    border-radius: 6px;
}
.modal input:focus,
.modal textarea:focus {
    border: 1px solid #24B24C;
}
.modal input::placeholder,
.modal textarea::placeholder {
    font-size: 18px;
}
.modal input, .modal textarea {
    font-size: 16px;
}

.modal-footer {
    border-top: 0;
    padding-bottom: 30px;
    text-align: center;
}
.modal-footer button {
    background-color: #4C83C4;
    color: #fff;
    border: 1px solid #4C83C4;
    padding: 8px 50px;
    border-radius: 25px;
}
.lqd-buy-now {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
  }
  .lqd-buy-now-btn {
    display: inline-flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50em;
    background: #141556d9;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    line-height: 1.5em;
    color: #000;
    transition: all 0.3s;
  }
  .lqd-buy-now-btn img {
    width: 60%;
    margin: auto;
  }
  .lqd-buy-now-btn svg {
    margin-right: 12px;
  }
  .lqd-buy-now-btn:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    transform: translateY(-2px);
  }
  .lqd-buy-now-btn:hover svg {
    fill: currentColor;
  }
.alert-popup {
    background-color: #DFF0D8;
    border-radius: 8px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    z-index: 99999;
    padding: 0 10px;
    text-align: center;
    display: none;
    color: #3C763D ;
}
.testimonial-quote {
    margin-left: 0 !important;
}
.banner {
    background-image: url('../demo/bg/bg-5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}




@media (min-width: 991px) {
    .modal-dialog {
        width: 900px;
    }
    .navbar-brand-inner {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .modal-title {
        font-size: 30px;
    }
    .modal form {
        padding: 0 70px;
    }
}
@media (max-width: 768px) {
    .alert-popup {
        top: 30px;
        width: 90%;
    }   
    
}
@media (max-width: 576px) {
    .modal-content {
        top: 110px;
    }
}